.jcarousel-skin-main .jcarousel-container-horizontal {
    width: 1596px;
}
.jcarousel-skin-main .jcarousel-clip {
    overflow: hidden;
}
.jcarousel-skin-main .jcarousel-clip-horizontal {
    width:  1596px;
}
.jcarousel-skin-main .jcarousel-item {
    width: 1596px;
}